.border{
    background-color: aquamarine;
    max-width:100%;
    height: 150px;
    text-align: center;
background-color:aqua;
max-width: 100%;
height: 200px;
}

.navbar{
    margin: 20px 0;
    text-decoration: aliceblue;
    background-color: black;
    text-align: center;
}
